<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-group">
    <label for="email">Email</label>
    <input matInput type="text" class="form-control" id="email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form-group">
    <label for="password">Password</label>
    <input matInput type="password" class="form-control" id="password" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
