mat-toolbar {
    min-height: 64px;
    max-height: 64px;
    background-color: var(--toolbarColor);
    color: var(--titleColor);
}

.siteTitle {
  color: var(--titleColor);
  text-decoration: none;
  font-size: 30px;
  margin-right: 16px;
}

a div {
  padding-top: 4px;
}

.darkModeToggle {
  margin-left: auto;

  .mat-icon {
    color: var(--titleColor);
    vertical-align: middle;
  }
}
