mat-toolbar {
    background-color: white;
    color: black;
}

.siteTitle {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  margin-right: 16px;
}

a div {
  padding-top: 4px;
}

.darkModeToggle {
  margin-left: auto;
}
