$bgColor_dark: black;
$textColor_dark: white;
$borderColor_dark: white;

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
}
