$bgColor_light: rgb(201, 201, 201);
$textColor_light: black;
$borderColor_light: black;

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
}
