// Themes
@import "@angular/material/theming";
@include mat-core();

@import "./default-theme.scss";
@import "./dark-theme.scss";

@include angular-material-theme($angular-default-theme);

.dark-theme {
  @include angular-material-color($dark-theme);
}

// Global styles

html {
    color: black;
}
html, body {
    margin: 0;
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
