@import './dark-theme.scss';
@import './light-theme.scss';

html {
  color: black;
}
html, body {
  margin: 0;
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.dark {
  @include darken();
}

body.light {
  @include lighten();
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
}
